<mat-toolbar>
    <button mat-button (click)="onSelectAll()">{{status? 'Deselect' : "Select"}} all</button>
    <button mat-button (click)="onDelete()" [disabled]=!status>Delete</button>
    <button mat-button [matMenuTriggerFor]="menu">Sorting order <span>&#709;</span></button>
    <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="onSort(true)">Ascending</button>
        <button mat-menu-item (click)="onSort(false)">Descending</button>
    </mat-menu>
    <mat-form-field class="input">
        <mat-label>Search users </mat-label>
        <input matInput [(ngModel)]="searchName" (input)="onSearch()" placeholder="Enter user name">
    </mat-form-field>
</mat-toolbar>