<mat-toolbar>
    <button mat-button (click)="onSelectAll()">{{status? 'Deselect' : "Select"}} all</button>
    <button mat-button>Delete</button>
    <button mat-button [matMenuTriggerFor]="menu">Sorting order <span>&#709;</span></button>
    <mat-menu #menu="matMenu">
        <button mat-menu-item>Ascending</button>
        <button mat-menu-item>Descending</button>
    </mat-menu>
    <mat-form-field class="input">
        <mat-label>Search users </mat-label>
        <input matInput placeholder="Enter user name">
    </mat-form-field>
</mat-toolbar>