<div class="container">
    <h1 class="title">Form to add new User</h1>
    <form class="example-form" [formGroup]="profileForm" (ngSubmit)="onSubmit()">
        <table class="example-full-width" cellspacing="0">
            <tr>
                <td>
                    <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label>First name</mat-label>
                        <input matInput formControlName="firstname">
                    </mat-form-field>
                </td>
                <td>
                    <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label>Last name</mat-label>
                        <input matInput formControlName="lastname" type="text">

                    </mat-form-field>
                </td>
            </tr>
            <tr>

                <td>
                    <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label>Email</mat-label>
                        <input type="email" matInput formControlName="email">
                        <mat-hint>test@test.test</mat-hint>

                    </mat-form-field>
                </td>

                <td>
                    <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label>Phone</mat-label>
                        <input type="phone" matInput formControlName="phone">
                        <mat-hint>000-000-0000 x00000</mat-hint>

                    </mat-form-field>
                </td>
            </tr>

        </table>
        <div class="demo-button-container">
            <button mat-raised-button type="submit" color="primary" [disabled]="!profileForm.valid">Add user</button>
        </div>
    </form>
</div>